<div>
  <h2 id="page-heading" data-cy="DamageHeading">
    <span jhiTranslate="elementaltakedownApp.damage.home.title">Damages</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="elementaltakedownApp.damage.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-damage"
        [routerLink]="['/damage/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="elementaltakedownApp.damage.home.createLabel"> Create a new Damage </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="damages?.length === 0">
    <span jhiTranslate="elementaltakedownApp.damage.home.notFound">No Damages found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="damages && damages.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="name">
            <div class="d-flex">
              <span jhiTranslate="elementaltakedownApp.damage.name">Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dmgValue">
            <div class="d-flex">
              <span jhiTranslate="elementaltakedownApp.damage.dmgValue">Dmg Value</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dmgElement">
            <div class="d-flex">
              <span jhiTranslate="elementaltakedownApp.damage.dmgElement">Dmg Element</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let damage of damages; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/damage', damage.id, 'view']">{{ damage.id }}</a>
          </td>
          <td>{{ damage.name }}</td>
          <td>{{ damage.dmgValue }}</td>
          <td jhiTranslate="{{ 'elementaltakedownApp.DmgElementType.' + damage.dmgElement }}">{{ damage.dmgElement }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/damage', damage.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/damage', damage.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(damage)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
