<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-damage-heading" data-cy="DamageCreateUpdateHeading" jhiTranslate="elementaltakedownApp.damage.home.createOrEditLabel">
        Create or edit a Damage
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

<!--        <div class="row mb-3">-->
<!--          <label class="form-label" jhiTranslate="elementaltakedownApp.damage.name" for="field_name">Name</label>-->
<!--          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />-->
<!--        </div>-->

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="elementaltakedownApp.damage.dmgValue" for="field_dmgValue">Dmg Value</label>
          <input type="number" class="form-control" name="dmgValue" id="field_dmgValue" data-cy="dmgValue" formControlName="dmgValue" />
          <div *ngIf="editForm.get('dmgValue')!.invalid && (editForm.get('dmgValue')!.dirty || editForm.get('dmgValue')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dmgValue')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('dmgValue')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="elementaltakedownApp.damage.dmgElement" for="field_dmgElement">Dmg Element</label>
          <select class="form-control" name="dmgElement" formControlName="dmgElement" id="field_dmgElement" data-cy="dmgElement">
            <option [ngValue]="null">{{ 'elementaltakedownApp.DmgElementType.null' | translate }}</option>
            <option *ngFor="let dmgElementType of dmgElementTypeValues" [value]="dmgElementType">
              {{ 'elementaltakedownApp.DmgElementType.' + dmgElementType | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('dmgElement')!.invalid && (editForm.get('dmgElement')!.dirty || editForm.get('dmgElement')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dmgElement')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="elementaltakedownApp.damage.splashDmg" for="field_splashDmg">Splash Dmg</label>
          <input type="number" class="form-control" name="splashDmg" id="field_splashDmg" data-cy="splashDmg" formControlName="splashDmg" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="elementaltakedownApp.damage.splashElement" for="field_splashElement"
            >Splash Element</label
          >
          <select
            class="form-control"
            name="splashElement"
            formControlName="splashElement"
            id="field_splashElement"
            data-cy="splashElement"
          >
            <option [ngValue]="null">{{ 'elementaltakedownApp.DmgElementType.null' | translate }}</option>
            <option *ngFor="let dmgElementType of dmgElementTypeValues" [value]="dmgElementType">
              {{ 'elementaltakedownApp.DmgElementType.' + dmgElementType | translate }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
