<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="ultimateATK">
      <h2 data-cy="ultimateATKDetailsHeading"><span jhiTranslate="elementaltakedownApp.ultimateATK.detail.title">Ultimate ATK</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ ultimateATK.id }}</span>
        </dd>
        <dt><span jhiTranslate="elementaltakedownApp.ultimateATK.name">Name</span></dt>
        <dd>
          <span>{{ ultimateATK.name }}</span>
        </dd>
        <dt><span jhiTranslate="elementaltakedownApp.ultimateATK.description">Description</span></dt>
        <dd>
          <span>{{ ultimateATK.description }}</span>
        </dd>
        <dt><span jhiTranslate="elementaltakedownApp.ultimateATK.requiredEnergy">Required Energy</span></dt>
        <dd>
          <span>{{ ultimateATK.requiredEnergy }}</span>
        </dd>
        <dt><span jhiTranslate="elementaltakedownApp.ultimateATK.damage">Damage</span></dt>
        <dd>
          <div *ngIf="ultimateATK.damage">
            <a [routerLink]="['/damage', ultimateATK.damage.id, 'view']">{{ ultimateATK.damage.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/ultimate-atk', ultimateATK.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
