<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()">
<!--      <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">-->
      <h2
        id="jhi-character-card-heading"
        data-cy="CharacterCardCreateUpdateHeading"
      >
        Add Character Card(s) to your Collection
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>
      </div>

      <div class="table-responsive table-entities" id="entities" *ngIf="allCharacters && allCharacters.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
          <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending">
              <th scope="col">
                <div class="d-flex">
                  <span>Character Name</span>
                </div>
              </th>
              <th>
                <div class="d-flex">
                  <span>All Character Cards</span>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let allCharacters of allCharacters; trackBy: trackId" data-cy="entityTable">
              <td>
                <a [routerLink]="['/character-card', allCharacters.id, 'view']">{{ allCharacters.name }}</a>
              </td>
              <td>
                <input type="checkbox" id="{{allCharacters.id}}" checked="{{allCharacters.playerHasCard}}">
                <label for="{{allCharacters.id}}">{{ allCharacters.name }}</label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

<!--        <button-->
<!--          type="submit"-->
<!--          id="save-entity"-->
<!--          data-cy="entityCreateSaveButton"-->
<!--          [disabled]="editForm.invalid || isSaving"-->
<!--          class="btn btn-primary"-->
<!--        >-->
        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
