<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()">
<!--      <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">-->
      <h2
        id="jhi-character-card-heading"
        data-cy="CharacterCardCreateUpdateHeading"
      >
        Add a Character Card to your Collection!
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>
      </div>

      <div class="table-responsive table-entities" id="entities" *ngIf="characterCards && characterCards.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
          <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="elementaltakedownApp.characterCard.name">Name</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let characterCard of characterCards; trackBy: trackId" data-cy="entityTable">
            <td>
              <a [routerLink]="['/character-card', characterCard.id, 'view']">{{ characterCard.id }}</a>
            </td>
            <td>{{ characterCard.name }}</td>
          </tr>
          </tbody>
        </table>
      </div>

<!--      <script src="cardslist.js"></script>-->

      <div id="cards-checklist"></div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

<!--        <button-->
<!--          type="submit"-->
<!--          id="save-entity"-->
<!--          data-cy="entityCreateSaveButton"-->
<!--          [disabled]="editForm.invalid || isSaving"-->
<!--          class="btn btn-primary"-->
<!--        >-->
        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
