body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    line-height: 1.6;
    color: white;
    max-width: 50rem;
    padding: 2rem;
    margin: auto;
    background-color: #6B6B6B;
}

img {
    max-width: 100%;
}

.fire {
    color: #fc3535;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.water {
    color: #2b2efc;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.ice {
    color: #35f9fc;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.earth {
    color: #ffd814;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.electric {
    color: #A61FFF;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.plant {
    color: #2dfc46;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.wind {
    color: #57ffb9;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

a {
    color: #2e8acc;
}

.maintitle {
    color: #91167f;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

