<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="characterCard">
      <h2 data-cy="characterCardDetailsHeading">
        <span jhiTranslate="elementaltakedownApp.characterCard.detail.title">Character Card</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
<!--        <dt><span jhiTranslate="global.field.id">ID</span></dt>-->
<!--        <dd>-->
<!--          <span>{{ characterCard.id }}</span>-->
<!--        </dd>-->
        <dt><span jhiTranslate="elementaltakedownApp.characterCard.name">Name</span></dt>
        <dd>
          <span>{{ characterCard.name }}</span>
        </dd>
        <dt><span jhiTranslate="elementaltakedownApp.characterCard.element">Element</span></dt>
        <dd>
          <span jhiTranslate="{{ 'elementaltakedownApp.ElementType.' + characterCard.element }}">{{ characterCard.element }}</span>
        </dd>
        <dt><span jhiTranslate="elementaltakedownApp.characterCard.basic">Basic</span></dt>
        <dd>
          <div *ngIf="characterCard.basic">
            {{ characterCard.basic.name }} <br>
            <em>{{ characterCard.basic.description }}</em>
          </div>
        </dd>
        <dt><span jhiTranslate="elementaltakedownApp.characterCard.skill">Skill</span></dt>
        <dd>
          <div *ngIf="characterCard.skill">
            {{ characterCard.skill.name }} <br>
            <em>{{ characterCard.skill.description }}</em>
          </div>
        </dd>
        <dt><span jhiTranslate="elementaltakedownApp.characterCard.ultimate">Ultimate</span></dt>
        <dd>
          <div *ngIf="characterCard.ultimate">
            {{ characterCard.ultimate.name }} <br>
            <em>Costs {{ characterCard.ultimate.requiredEnergy }} energy; {{ characterCard.ultimate.description }}</em>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

    </div>
  </div>
</div>
