<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="damage">
      <h2 data-cy="damageDetailsHeading"><span jhiTranslate="elementaltakedownApp.damage.detail.title">Damage</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ damage.id }}</span>
        </dd>
        <dt><span jhiTranslate="elementaltakedownApp.damage.name">Name</span></dt>
        <dd>
          <span>{{ damage.name }}</span>
        </dd>
        <dt><span jhiTranslate="elementaltakedownApp.damage.dmgValue">Dmg Value</span></dt>
        <dd>
          <span>{{ damage.dmgValue }}</span>
        </dd>
        <dt><span jhiTranslate="elementaltakedownApp.damage.dmgElement">Dmg Element</span></dt>
        <dd>
          <span jhiTranslate="{{ 'elementaltakedownApp.DmgElementType.' + damage.dmgElement }}">{{ damage.dmgElement }}</span>
        </dd>
        <dt><span jhiTranslate="elementaltakedownApp.damage.splashDmg">Splash Dmg</span></dt>
        <dd>
          <span>{{ damage.splashDmg }}</span>
        </dd>
        <dt><span jhiTranslate="elementaltakedownApp.damage.splashElement">Splash Element</span></dt>
        <dd>
          <span jhiTranslate="{{ 'elementaltakedownApp.DmgElementType.' + damage.splashElement }}">{{ damage.splashElement }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/damage', damage.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
