<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="skillATK">
      <h2 data-cy="skillATKDetailsHeading"><span jhiTranslate="elementaltakedownApp.skillATK.detail.title">Skill ATK</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ skillATK.id }}</span>
        </dd>
        <dt><span jhiTranslate="elementaltakedownApp.skillATK.name">Name</span></dt>
        <dd>
          <span>{{ skillATK.name }}</span>
        </dd>
        <dt><span jhiTranslate="elementaltakedownApp.skillATK.description">Description</span></dt>
        <dd>
          <span>{{ skillATK.description }}</span>
        </dd>
        <dt><span jhiTranslate="elementaltakedownApp.skillATK.damage">Damage</span></dt>
        <dd>
          <div *ngIf="skillATK.damage">
            <a [routerLink]="['/damage', skillATK.damage.id, 'view']">{{ skillATK.damage.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/skill-atk', skillATK.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
